<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en " }}">

{{ partial "head.html" . }}

<body>
  {{ block "mainbody" . }}
  <header class="tc">
    <a href="{{ .Site.BaseURL }}" class="f4 fw7 dib pa2 no-underline black">
      <img src="/img/pilogo.jpg" class="br-100 pa1 b--black-10 h4 w4" alt="avatar" loading="lazy">
      <h1 class="f5 f4-ns fw6">{{ .Site.Title }}</h1>
      <h2 class="f6 fw2">{{ .Site.Params.subtitle }}</h2>
    </a>
  </header>

  {{ partial "navbar.html" . }}

  <br>
  <div class="center mw8 mv4">
    {{ block "body" . }} {{ end }}
  </div>
  <br>
  {{ partial "footer.html" . }}
  {{ end }} {{ partial "script.html" . }}
</body>

</html>
