{{ define "body"}}
<article class="ph3 ph3-m ph6-l">

  {{if ne .Content ""}}
  <h1 class="f3 f1-m f-headline-l center mw8">{{.Title}}</h1>
  {{ .Content | replaceRE "<p>" "<p class=\"f4 mb4 center measure\">" | safeHTML }}
  {{end}}
  <table class="f3 w-100 mw8 center">
    <thead>
      <tr>
        <th class="fw6 bb b--black-20 tl pb3 pr3">Name</th>
        <th class="fw6 bb b--black-20 tl pb3 pr3">Date</th>
        <th class="fw6 bb b--black-20 tl pb3 pr3">Event</th>
        <th class="fw6 bb b--black-20 tl pb3 pr3"></th>
      </tr>
    </thead>
    {{range sort .Pages ".Params.convention.date" "desc"}}
    <tbody class="lh-copy">
      <tr>
        <td class="pv3 pr3 bb b--black-20">
          <a class="link dim black" href="{{.Permalink}}">{{.Title}}{{with .Params.convention}}{{end}}</a>
        </td>
        <td class="pv3 pr3 bb b--black-20">{{dateFormat "2006-01-02" .Params.convention.date}}
          {{.Params.convention.hour}}</td>
        <td class="pv3 pr3 bb b--black-20">
          {{ .Params.convention.event}}
        </td>
        <td class="pv3 pr3 bb b--black-20">
          <a class="link dim black" href="{{.Permalink}}">
            <i class="fa fa-link"></i>
          </a>
        </td>
      </tr>
    </tbody>
    {{end}}
  </table>
</article>
{{ end }}
