{{ define "body"}}
<div class="ph3 ph3-m ph6-l">
  <h1 class="f2">{{ .Title }}</h2>
    <a class="tag" href="{{ .Site.BaseURL }}">home</a>
    ~
    <a class="tag" href='{{ .Permalink }}'>{{ .Title }}</a>
    <br>
    <hr>

    <div class="center mw8 ba b--black-10 mv4">
      {{ if .Params.feature_image }}
      {{ $image := .Resources.GetMatch ( print .Params.feature_image ) }}
      <img src="{{  $image.Permalink  }}" class="w-100 db" alt="Card image cap">
      {{end}}
      </a>
      <div class="pa3">
        <a href="{{ .Params.feature_link}}">{{.Params.feature_text}}</a>
      </div>
    </div>

    <br>
    <article>
      {{ .Content  }}
      <p>by {{ .Site.Author.name }}</p>
    </article>

    <hr>
    {{ with .Params.tags }} {{ range . }}
    <a class="tag" href='{{ "tags" | absURL }}/{{ . | urlize }}'>{{ . }}</a>
    {{ end }} {{ end }}
    <hr>
    {{ template "_internal/disqus.html" . }}
    <hr>
</div>
{{ end }}
