{{ define "body"}}

<article class="ph3 ph3-m ph6-l">
  <h1 class="f2">{{.Title}}</h1>
  {{with .Params.talk}}<h1 class="f3">{{.}}</h1>{{end}}
  <p class="f4 mb4 center measure ">{{dateFormat "2006-09-02 15:04" .Params.slot.start}} --
    {{dateFormat "2006-09-02 15:04" .Params.slot.end}}</p>
  <hr>
  {{ .Content | replaceRE "<p>" "<p class=\"f4 mb4 center measure\">" | safeHTML }}
  <hr>
  {{if ne .Summary .Content}}
  <a class="link dim black" href="{{ .Params.slot.url }}">Full Event Details</a> {{end}}

</article>
{{ end }}
