{{ define "body" }}

<div class="ph3 ph4-m ph5-l">
  <div class="f4 mb4 center measure lh-copy">
    <div style="border: 2px solid #EBE8D5; border-radius:10px; padding: 0px 7px 0px 7px;">
      <h3 style=""><a href="https://www.goodreads.com/user/show/5312887-matteo"
          style="text-decoration: none;color:#aaa;font-family:georgia,serif;font-style:italic;"
          rel="nofollow">Fundor333’s
          quotes</a></h3><br />
      <div id="gr_quote_body"></div>
      <script src="https://www.goodreads.com/quotes/widget/5312887-matteo?v=2" type="text/javascript"></script>
      <div style="text-align: right;"><a href="https://www.goodreads.com/quotes"
          style="color: #382110; text-decoration: none; font-size: 10px;" rel="nofollow">Goodreads Quotes</a></div>
    </div>
  </div>
</div>

<article class="ph3 ph4-m ph5-l">
  <p class="f4 mb4 center measure lh-copy">
    I am a Backend Developer 💻, a Pythonista 🐍, a Docker user 🐋 and a Open Source maniac.

    <p class="f4 mb4 center measure">
      In my past I have done some work as PFY and some traveling planning.
    </p>
    <p class="f4 mb4 center measure">
      This is my blog/diary/personal space for my project, ideas and rants...
    </p>
    <p class="f4 mb4 center measure">
      This is a site of a not so adult developer.
    </p>
    <p class="f4 mb3 center measure">
      Fundor333
    </p>
</article>
{{ end }}
