{{ define "body"}}

<article class="ph3 ph3-m ph6-l">
  <h1 class="f3 f1-m f-headline-l">{{ .Title }}</h1>

  <a href="{{ .Site.BaseURL }}">home</a>
  <a>~</a>
  <a href='{{ .Permalink }}'>{{ .Title }}</a>
  <hr>

  {{ .Content }}
</article>


{{ end }}
