{{ define "body"}}
<article class="ph3 ph3-m ph6-l">
  <h1 class="f3 f1-m f-headline-l">hoarding</h1>

  <a href="{{ .Site.BaseURL }}">home</a>
  <a>~</a>
  <a href='{{ .Permalink }}'>hoarding</a>
  <hr>

  {{ range $.Site.Data.hoarding }}


  {{ range .types }}
  <h2 class="f3 b ph6">{{.type}}</h2>
  {{ range .elements }}
  <a href="{{.url}}" class="link dim black">
    <dd class="ph6">
      <p><b>{{.name}}</b></p>
    </dd>
  </a>
  {{end}}
  {{end}}
  {{ end }}
</article>
{{ end }}
