{{ define "body" }}
<hr class="ph3 ph3-m ph6-l">
<section class="ph3 ph3-m ph6-l flex flex-wrap">
  {{ $paginator := .Paginate (where .Data.Pages "Section" .Section) }}

  {{ range $paginator.Pages }}

  <article class="center">
    <div class="pv2 ph3">
      <h1 class="f6 ttu tracked">{{ .Title }}</h1>
    </div>
    <a href="{{ .Permalink }}">

      {{ if .Params.feature_image }}
      {{ $image := .Resources.GetMatch ( print .Params.feature_image ) }}
      {{ $resource := $image}}
      {{ $image := $image.Resize "600x q10" }}
      {{ $image = $image.Filter  ((images.Pixelate 8) ) ((images.Pixelate 8)) (images.GaussianBlur 80 ) }}

      {{ $image = $image.Filter (images.GaussianBlur 20 ) }}

      <img data-src="{{ $resource.Permalink }}" src="{{ $image.Permalink }}" alt="{{ $.Title }}" class="w-100 db lazy">
      {{ end }}


    </a>
    <div class="pa3">
      <a href="{{ .Permalink }}">{{ .Content | truncate 50 }}</a>
    </div>
  </article>


  {{ end }}
</section>
<hr class="ph3 ph3-m ph6-l">


{{ partial "paginator.html" . }}

{{ end }}
