$f333_black: #1A1A1A;
$f333_white: #f8f8f2;
$f333_gray: #cad2c5;
$f333_yellow: #f4d58d;
$f333_red: #8d0801;
$f333_green: #8ed081;
$f333_color_background_primary: $f333_white;
$f333_color_background_secondary: $f333_black;
//
$f333_color_font_primary: $f333_color_background_secondary;
$f333_color_font_secondary: $f333_color_background_primary;
$f333_color_breadcrumb: $f333_red;
$f333_color_breadcrumb_secondary: $f333_red;
//
$shadow_color: rgba(0, 0, 0, 0.2);
$col_facebook: #3b5998;
$col_twitter: #1da1f2;
$col_linkedin: #0077b5;
$col_gplus: #dc4e41;
$col_mail: green;
