<footer class="pv4 ph3 ph5-m ph6-l">
  <small class="f6 db tc"><a href='https://webring.xxiivv.com/#random' target='_blank'><img
        class="pa1 b--black-10 h2 w2" src='https://webring.xxiivv.com/icon.black.svg' /></a></small>
  <small class="f6 db tc">© 2020 <b class="ttu">Fundor333</b></small>
  <div class="tc mt3">
    <a href="{{ .Site.BaseURL }}" class="f6 ph2">Made by Fundor333 with
      <i class="fa fa-heart" aria-hidden="true"></i> GoLang
      <i class="fa fa-laptop" aria-hidden="true"></i>
    </a>
    <a href="https://gohugo.io" class="f6 ph2">Powered by Go Hugo</a>
    <a href="https://github.com/fundor333/fundor333.com" class="f6 ph2">Source code
    </a>

  </div>
</footer>
