<nav class="tc pv2">
  {{ $currentPage := . }} {{ range .Site.Data.social }}
  <a class="f6 f5-ns dib mr3" href="{{ .url }}">
    <i class="fab fa-{{ .identifier }}" aria-hidden="true">
    </i>
  </a>
  {{ end }}
</nav>
<nav class="tc pv2">
  {{ $currentPage := . }} {{ range .Site.Data.menu }}
  <a class="f6 f5-ns dib mr3" href="{{ .url }}">
    {{ .name }}
  </a>
  {{ end }}
</nav>
