<nav class="tc pv2">
  {{ $paginator := .Paginator }}

  <!-- If there's more than one page. -->
  {{ if gt $paginator.TotalPages 1 }}


  <!-- First page. -->
  {{ if ne $paginator.PageNumber 1 }}
  <a class="f6 f5-ns dib mr3" href="{{ $paginator.First.URL }}">
    ««
  </a>
  {{ end }}

  <!-- Previous page. -->
  {{ if $paginator.HasPrev }}
  <a class="f6 f5-ns dib mr3" href="{{ $paginator.Prev.URL }}">
    «
  </a>
  {{ end }}

  <!-- Page numbers. -->
  {{ range $paginator.Pagers }}
  <a href="{{ .URL }}" class="f6 f5-ns dib mr3">
    {{ .PageNumber }}
  </a>
  {{ end }}

  <!-- Next page. -->
  {{ if $paginator.HasNext }}

  <a class="f6 f5-ns dib mr3" href="{{ $paginator.Next.URL }}">
    »
  </a>
  {{ end }}

  <!-- Last page. -->
  {{ if ne $paginator.PageNumber $paginator.TotalPages }}

  <a class="f6 f5-ns dib mr3" href="{{ $paginator.Last.URL }}">
    »»
  </a>
  {{ end }}
  {{ end }}
</nav>
